

h1 {
  color: #ffffff;
  border: 5px dashed purple;
  /* border */

}

h4 {
  color: purple;
  background: rgba(255, 999, 0, 0.5);
}

body {
  background: pink;
  background: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-size: cover;

}

li {
  color: #ffffff;

}
